<form ng-submit="addinventory()">

      Item Code: 
      <input type="text" ng-model="inventory.code" ><br>

      Item Name:
      <input type="text" ng-model="inventory.name"><br>

      Item weight:
      <input type="text" ng-model="inventory.weight"><br>

      Item Price:
      <input type="text" ng-model="inventory.price" ><br>

        Item Quantity Ordered:
        <input type="text" ng-model="inventory.quantity"><br>

        Item Delievered:
        <input type="text" ng-model="inventory.delivered"><br>

      <button type="submit" style="color:#5bc0de;" >Save</button>
      <a href="#/inventory" > Cancel</a>
</form>
