<div ng-init="getinventory()">
	<p>Inventory List</p>
		<table border = 1 >
			<thead>
			<tr>
			  <th>Item Code</th>
			  <th>Item Name</th>
			  <th>Price</th>
			  <th>Weight</th>
			  <th>Quantity</th>
			  <th>Delivered</th>
			  <th>Item Not Delivered</th>
			  <th>Total Sales</th>
			  <th>Actions</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="invent in inventory">
			  <td>{{ invent.code }}</td>
			  <td>{{ invent.name }}</td>
			  <td>{{ invent.price }}</td>
			  <td>{{ invent.weight }}</td>
			  <td>{{ invent.quantity }}</td>
			  <td>{{ invent.delivered }}</td>
			  <td>{{ invent.quantity - invent.delivered }}</td>
			  <td>{{ invent.delivered * invent.price }}</td>
			  <td> 
			    <a href="#/inventory/{{invent._id}}/show" style="padding:10px;"> View  </a>
			    <a href="#/inventory/{{invent._id}}/edit" style="padding:10px;"> Update  </a>
			  	<a ng-click="deleteinventory(invent._id)" style="padding:10px; cursor: pointer; text-decoration-line: underline;"> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>
		{{inventory}}
</div>